*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

#pre-main-drl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: fade-in 7s ease forwards;
}

.aalogo {
    display: flex;
    position: absolute;
    width: 10%;
    height: auto;
    top: 10px;
    left: 10px;
    opacity: 0.3;
}

#volume-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 3s ease forwards;
    width: 6%;
    height: auto;
    cursor: pointer;
}

.mute, .unmute {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 47%;
    left: 47%;
    animation: fade-in 3s ease forwards;
}

.premain {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fade-out-animation {
    animation: fade-out 1s ease forwards;
}

.enter-button {
    display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fade-in 3s ease forwards;
        width: 10%;
        height: 3%;
        cursor: pointer;
}

h1 {
    margin-top: 140px;
    text-align: center;
    color: white;
    font-size: 52px;
    animation: fade-in 3s ease forwards;
}

p {
    margin-top: 60px;
    font-size: 28px;
    color: white;
    text-align: center;
}

.background-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade-in-out 7.5s ease-in-out;
}

.ptsbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: auto;
    animation: fade-in 1s ease forwards;
    cursor: pointer;
}

.please-start {
    margin-top: 140px;
    text-align: center;
    color: white;
    font-size: 52px;
    animation: fade-in 3s ease forwards;
}

#m3logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16%;
    top: 50%;
    width: 31%;
    height: auto;
    animation: fade-in 3s ease forwards;
    cursor: pointer;
}

#m5logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 52%;
    width: 30%;
    height: auto;
    animation: fade-in 3s ease forwards;
    cursor: pointer;
}

#light5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 52%;
    width: 30%;
    height: auto;
    animation: fade-in 1s ease forwards;
}

#light3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 17%;
    width: 30%;
    height: auto;
    animation: fade-in 1s ease forwards;
}

#circleglow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    height: auto;
    animation: fade-in 1s ease forwards;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: white;
    --background: white;
    --hamburger-margin: 20px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
    animation: fade-in 3s ease forwards;
    z-index: 3;
}

.hamburger::before, .hamburger::after, .hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), 
                rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    position: fixed;
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 2rem);
    background-color: #8B0000;
    max-width: 10rem;
    min-height: 1000vh;
    opacity: 0.9;
    z-index: 2;
}

.hamburger:has(input:checked) + .sidebar {
    translate: 0;
}

.home {
    padding-bottom: 1.5rem;
    cursor: pointer;
    width: 55%;
    height: auto;
    z-index: 3;
}

.git {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 5px;
    cursor: pointer;
    z-index: 3;
}

.linked {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    margin-left: 5px;
    height: auto;
    cursor: pointer;
    z-index: 3;
}

.mperf {
    padding-top: 3.5rem;
    padding-left: 6.5rem;
    left: 0%;
    opacity: 0.6;
    z-index: 3;
}

.m3selected {
    z-index: -2;
}

.m5selected {
    z-index: -2;
}

.contents3 {
    z-index: -10;
}

.content5 {
    z-index: -10;
}


.M32021 {
    display: flex;
    position: absolute;
    top: 56%;
    left: 40%;
    width: 60%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M32015 {
    display: flex;
    position: absolute;
    top: 57%;
    left: 140%;
    width: 60%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M32008 {
    display: flex;
    position: absolute;
    top: 59%;
    left: 245%;
    width: 55%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M31995 {
    display: flex;
    position: absolute;
    top: 57%;
    left: 350%;
    width: 50%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M31986 {
    display: flex;
    position: absolute;
    top: 63%;
    left: 455%;
    width: 45%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M52021 {
    display: flex;
    position: absolute;
    top: 60%;
    left: 60%;
    width: 50%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M52011 {
    display: flex;
    position: absolute;
    top: 60%;
    left: 180%;
    width: 50%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M52006 {
    display: flex;
    position: absolute;
    top: 55%;
    left: 285%;
    width: 55%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M51998 {
    display: flex;
    position: absolute;
    top: 63%;
    left: 390%;
    width: 50%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.M51988 {
    display: flex;
    position: absolute;
    top: 67%;
    left: 500%;
    width: 50%;
    height: auto;
    z-index: -1;
    animation: fade-in 3s ease forwards;
    scroll-snap-align: end;
}

.infobox-1 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 10%;
    width: 30%;
    top: 21%;
}
.infotext-1 {
    font-size: 28px;
    position: absolute;
    left: 20%;
    top: 20.5%;
    color: black;
}

.infobox-2 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 10%;
    width: 30%;
    top: 3%;
}
.infotext-2 {
    font-size: 28px;
    position: absolute;
    left: 20%;
    top: 2.5%;
    color: black;
}

.infobox-3 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 10%;
    width: 30%;
    top: 39%;
}
.infotext-3 {
    font-size: 28px;
    position: absolute;
    left: 20%;
    top: 38.5%;
    color: black;
}

.infobox-4 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 10%;
    width: 30%;
    top: 56%;
}
.infotext-4 {
    font-size: 28px;
    position: absolute;
    left: 20%;
    top: 55.5%;
    color: black;
}

.infobox-5 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 110%;
    width: 30%;
    top: 21%;
}
.infotext-5 {
    font-size: 28px;
    position: absolute;
    left: 120%;
    top: 20.5%;
    color: black;
}

.infobox-6 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 110%;
    width: 30%;
    top: 3%;
}
.infotext-6 {
    font-size: 28px;
    position: absolute;
    left: 119%;
    top: 1%;
    width: 14%;
    color: black;
}

.infobox-7 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 110%;
    width: 30%;
    top: 39%;
}
.infotext-7 {
    font-size: 28px;
    position: absolute;
    left: 120%;
    top: 38.5%;
    width: 12%;
    color: black;
}

.infobox-8 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 110%;
    width: 30%;
    top: 57%;
}
.infotext-8 {
    font-size: 28px;
    position: absolute;
    left: 119%;
    top: 55%;
    width: 16%;
    color: black;
}

.infobox-9 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 210%;
    width: 30%;
    top: 21%;
}
.infotext-9 {
    font-size: 28px;
    position: absolute;
    left: 220%;
    top: 20.5%;
    color: black;
}

.infobox-10 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 210%;
    width: 30%;
    top: 3%;
}
.infotext-10 {
    font-size: 28px;
    position: absolute;
    left: 219%;
    top: 2.5%;
    width: 7%;
    color: black;
}

.infobox-11 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 210%;
    width: 30%;
    top: 39%;
}
.infotext-11 {
    font-size: 28px;
    position: absolute;
    left: 220%;
    top: 38.5%;
    width: 12%;
    color: black;
}

.infobox-12 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 210%;
    width: 30%;
    top: 57%;
}
.infotext-12 {
    font-size: 28px;
    position: absolute;
    left: 219%;
    top: 55%;
    width: 16%;
    color: black;
}

.infobox-13 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 310%;
    width: 30%;
    top: 21%;
}
.infotext-13 {
    font-size: 28px;
    position: absolute;
    left: 320%;
    top: 20.5%;
    color: black;
}

.infobox-14 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 310%;
    width: 30%;
    top: 3%;
}
.infotext-14 {
    font-size: 28px;
    position: absolute;
    left: 319%;
    top: 2.5%;
    width: 7%;
    color: black;
}

.infobox-15 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 310%;
    width: 30%;
    top: 39%;
}
.infotext-15 {
    font-size: 28px;
    position: absolute;
    left: 320%;
    top: 38.5%;
    width: 12%;
    color: black;
}

.infobox-16 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 310%;
    width: 30%;
    top: 57%;
}
.infotext-16 {
    font-size: 28px;
    position: absolute;
    left: 320%;
    top: 56.5%;
    width: 10%;
    color: black;
}

.infobox-17 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 410%;
    width: 30%;
    top: 21%;
}
.infotext-17 {
    font-size: 28px;
    position: absolute;
    left: 420%;
    top: 20.5%;
    color: black;
}

.infobox-18 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 410%;
    width: 30%;
    top: 3%;
}
.infotext-18 {
    font-size: 28px;
    position: absolute;
    left: 419.5%;
    top: 2.5%;
    width: 10%;
    color: black;
}

.infobox-19 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 410%;
    width: 30%;
    top: 39%;
}
.infotext-19 {
    font-size: 28px;
    position: absolute;
    left: 420%;
    top: 38.5%;
    width: 12%;
    color: black;
}

.infobox-20 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 410%;
    width: 30%;
    top: 57%;
}
.infotext-20 {
    font-size: 28px;
    position: absolute;
    left: 419%;
    top: 56.5%;
    width: 12%;
    color: black;
}

.infobox-51 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 20vw;
    width: 30%;
    margin-top: 12vw;
}
.infotext-51 {
    display: flex;
    font-size: 28px;
    position: absolute;
    margin-left: 30vw;
    margin-top: 15.3vw;
    color: black;
}

.infobox-52 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 20vw;
    width: 30%;
    margin-top: 2vw;
}
.infotext-52 {
    font-size: 28px;
    position: absolute;
    margin-left: 30vw;
    margin-top: 5.3vw;
    color: black;
}

.infobox-53 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 20vw;
    width: 30%;
    margin-top: 22vw;
}
.infotext-53 {
    font-size: 28px;
    position: absolute;
    margin-left: 30vw;
    margin-top: 25.3vw;
    color: black;
}

.infobox-54 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 20vw;
    width: 30%;
    margin-top: 32vw;
}
.infotext-54 {
    font-size: 28px;
    position: absolute;
    margin-left: 30vw;
    margin-top: 35.3vw;
    color: black;
}

.infobox-55 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 140vw;
    width: 30%;
    margin-top: 12vw;
}
.infotext-55 {
    font-size: 28px;
    position: absolute;
    margin-left: 150vw;
    margin-top: 15.3vw;
    color: black;
}

.infobox-56 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 140vw;
    width: 30%;
    margin-top: 2.3vw;
}
.infotext-56 {
    font-size: 28px;
    position: absolute;
    margin-left: 150vw;
    margin-top: 5.5vw;
    width: 14%;
    color: black;
}

.infobox-57 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 140vw;
    width: 30%;
    margin-top: 22vw;
}
.infotext-57 {
    font-size: 28px;
    position: absolute;
    margin-left: 150vw;
    margin-top: 25.3vw;
    width: 12%;
    color: black;
}

.infobox-58 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 140vw;
    width: 30%;
    margin-top: 32vw;
}
.infotext-58 {
    font-size: 28px;
    position: absolute;
    margin-left: 150vw;
    margin-top: 34.2vw;
    width: 16%;
    color: black;
}

.infobox-59 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 250vw;
    width: 30%;
    margin-top: 12.3vw;
}
.infotext-59 {
    font-size: 28px;
    position: absolute;
    margin-left: 260vw;
    margin-top: 15.5vw;
    color: black;
}

.infobox-510 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 250vw;
    width: 30%;
    margin-top: 2.3vw;
}
.infotext-510 {
    font-size: 28px;
    position: absolute;
    margin-left: 259.5vw;
    margin-top: 5.5vw;
    width: 16%;
    color: black;
}

.infobox-511 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 250vw;
    width: 30%;
    margin-top: 22.5vw;
}
.infotext-511 {
    font-size: 28px;
    position: absolute;
    margin-left: 260vw;
    margin-top: 25.75vw;
    width: 12%;
    color: black;
}

.infobox-512 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    margin-left: 250vw;
    width: 30%;
    margin-top: 32.5vw;
}
.infotext-512 {
    font-size: 28px;
    position: absolute;
    margin-left: 258vw;
    margin-top: 34.75vw;
    width: 18%;
    color: black;
}

.infobox-513 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 350%;
    width: 30%;
    top: 21%;
}
.infotext-513 {
    font-size: 28px;
    position: absolute;
    left: 360%;
    top: 20.5%;
    color: black;
}

.infobox-514 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 350%;
    width: 30%;
    top: 3%;
}
.infotext-514 {
    font-size: 28px;
    position: absolute;
    left: 360%;
    top: 3%;
    width: 6%;
    color: black;
}

.infobox-515 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 350%;
    width: 30%;
    top: 39%;
}
.infotext-515 {
    font-size: 28px;
    position: absolute;
    left: 360%;
    top: 38.5%;
    width: 12%;
    color: black;
}

.infobox-516 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 350%;
    width: 30%;
    top: 57%;
}
.infotext-516 {
    font-size: 28px;
    position: absolute;
    left: 360%;
    top: 56.5%;
    width: 10%;
    color: black;
}

.infobox-517 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 460%;
    width: 30%;
    top: 21%;
}
.infotext-517 {
    font-size: 28px;
    position: absolute;
    left: 470%;
    top: 20.5%;
    color: black;
}

.infobox-518 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 460%;;
    width: 30%;
    top: 3%;
}
.infotext-518 {
    font-size: 28px;
    position: absolute;
    left: 469.5%;
    top: 2.5%;
    width: 10%;
    color: black;
}

.infobox-519 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 460%;
    width: 30%;
    top: 39%;
}
.infotext-519 {
    font-size: 28px;
    position: absolute;
    left: 470%;
    top: 38.5%;
    width: 12%;
    color: black;
}

.infobox-520 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 460%;
    width: 30%;
    top: 57%;
}
.infotext-520 {
    font-size: 28px;
    position: absolute;
    left: 470%;
    top: 56.5%;
    width: 10%;
    color: black;
}

/* M3 ICONS */
.engineimg1 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 12.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}
.engineimg2 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 112.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}
.engineimg3 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 212.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}
.engineimg4 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 312.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}
.engineimg5 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 412.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}
.transimg1 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 12.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 60%;
}
.transimg2 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 112.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 61%;
}
.transimg3 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 212.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 61%;
}
.transimg4 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 312.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 61%;
}
.transimg5 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 412.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 61%;
}
.hpimg1 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 12.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 45%;
}
.hpimg2 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 112.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 45%;
}
.hpimg3 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 212.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 45%;
}
.hpimg4 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 312.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 45%;
}
.hpimg5 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 412.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 45%;
}
.yrimg1 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 12.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25%;
}
.yrimg2 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 112.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25%;
}
.yrimg3 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 212.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25%;
}
.yrimg4 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 312.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25%;
}
.yrimg5 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 412.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25%;
}

/* M5 ICONS */
.engineimg51 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 22.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}

.engineimg52 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 142.74%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 8%;
}

.engineimg53 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 252.7%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 8%;
}

.engineimg54 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 352.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}

.engineimg55 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 462.5%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 7%;
}

.transimg51 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 22.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 61%;
}

.transimg52 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 142.8%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 61%;
}

.transimg53 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 252.7%; 
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 62.5%;
}

.transimg54 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 352.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 60.5%;
}

.transimg55 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 462.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 60.5%;
}

.hpimg51 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 22.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 45%;
}

.hpimg52 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 142.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 45%;
}

.hpimg53 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 252.7%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 46%;
}

.hpimg54 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 352.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 44%;
}

.hpimg55 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 462.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 44.5%;
}

.yrimg51 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 22.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25%;
}

.yrimg52 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 142.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25%;
}

.yrimg53 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 252.7%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 25.5%;
}

.yrimg54 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 352.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 24.5%;
}

.yrimg55 {
    display: flex;
    animation: fade-in 3s ease forwards;
    position: absolute;
    left: 462.75%;
    z-index: 1;
    width: 4.5%;
    height: auto;
    top: 24.5%;
}
html {
    scroll-snap-type: x mandatory;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 20px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}