*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

#pre-main-drl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: fade-in 7s ease forwards;
}

.aalogo {
    display: flex;
    position: absolute;
    width: 10%;
    height: auto;
    top: 10px;
    left: 10px;
    opacity: 0.3;
}

#volume-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 3s ease forwards;
    width: 6%;
    height: auto;
    cursor: pointer;
}

.mute, .unmute {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46%;
    animation: fade-in 3s ease forwards;
}

.pre-main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fade-out-animation {
    animation: fade-out 1s ease forwards;
}

.enter-button {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 60%;
    width: 120px;
    font-size: 18px;
    background-color: white;
    border-color: white;
    animation: fade-in 3s ease forwards;
    cursor: pointer;
}

h1 {
    margin-top: 140px;
    text-align: center;
    color: white;
    font-size: 52px;
    animation: fade-in 3s ease forwards;
}

p {
    margin-top: 60px;
    font-size: 28px;
    color: white;
    text-align: center;
}

.background-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade-in-out 7.5s ease-in-out;
}

.ptsbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: auto;
    animation: fade-in 1s ease forwards;
    cursor: pointer;
}

.please-start {
    margin-top: 140px;
    text-align: center;
    color: white;
    font-size: 52px;
    animation: fade-in 3s ease forwards;
}

#m3logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16%;
    top: 50%;
    width: 31%;
    height: auto;
    animation: fade-in 3s ease forwards;
    cursor: pointer;
}

#m5logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 52%;
    width: 30%;
    height: auto;
    animation: fade-in 3s ease forwards;
    cursor: pointer;
}

#light5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 52%;
    width: 30%;
    height: auto;
    animation: fade-in 1s ease forwards;
}

#light3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 17%;
    width: 30%;
    height: auto;
    animation: fade-in 1s ease forwards;
}

#circleglow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    height: auto;
    animation: fade-in 1s ease forwards;
}

.m3selected {
    z-index: -2;
}
:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: white;
    --background: white;
    --hamburger-margin: 20px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
    animation: fade-in 3s ease forwards;
    z-index: 3;
}

.hamburger::before, .hamburger::after, .hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), 
                rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    position: fixed;
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 2rem);
    background-color: #8B0000;
    max-width: 10rem;
    min-height: 1000vh;
    opacity: 0.9;
    z-index: 2;
}

.hamburger:has(input:checked) + .sidebar {
    translate: 0;
}

.home {
    padding-bottom: 1.5rem;
    cursor: pointer;
    width: 55%;
    height: auto;
    z-index: 3;
}

.git {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 5px;
    cursor: pointer;
    z-index: 3;
}

.linked {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    margin-left: 5px;
    height: auto;
    cursor: pointer;
    z-index: 3;
}

.mperf {
    padding-top: 4rem;
    padding-left: 6.5rem;
    left: 0%;
    opacity: 0.7;
    z-index: 3;
}

.M32021 {
    position: absolute;
    right: 0%;
    top: 67%;
    width: 60%;
    height: auto;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 20px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}